@model HomeViewModel

@if (Model.FeaturedComponents.Count() > 0)
{
    <section class="u-section" id="carousel">
        <div class="l-container">
            <div class="c-wrapper">
                <h2 class="u-section__title">Mais buscados</h2>
                <div>
                    <div class="c-carousel">
                        <div class="c-carousel__container">
                            @foreach (var component in Model.FeaturedComponents)
                            {
                                <div
                                    class="c-carousel__slide"
                                    data-slideIndex="@component.Id">
                                    <div class="c-card">
                                        <div
                                            class="c-card__inner  l-flex u-align-items-center u-justify-items-center">
                                            <div class="c-card__thumb">
                                                <img
                                                    src="~/images/products/@component.Image"
                                                    alt="@component.Name"/>
                                            </div>
                                            <h4>
                                                @component.Name
                                            </h4>
                                            <p>U$ @component.AveragePrice</p>
                                        </div>
                                    </div>
                                </div>   
                            }
                        </div>
                        <div
                            id="back-button"
                            class="o-arrow o-arrow--left"
                        >
                            <img src="~/images/icons/arrow-left.png"  alt="previous">
                        </div>
                        <div class="o-arrow o-arrow--right">
                            <img src="~/images/icons/arrow-right.png"  alt="next">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
}
