:root {
    --bg-color:#1C1C1C;
    --blue-color-1:#9FA8DA;
    --blue-color-2:#4a5382;
    --purple-1: #6A0DAD;
    --purple-2: #9B4DFF;
    --purple-3: #8A2BE2;
    --neon: #39FF14;
    --orange: #ff7043;
    --silver: #C0C0C0;
    --text-color: #020712;
}